.channel-header {
    height: 90px;
    border-bottom: solid 1px #000;

    &__title {
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-left: 20px;

        font-size: 1.5rem;

        &::before {
            content: "# ";
        }
    }

    &__description {
        padding-right: 20px;
        padding-left: 20px;
    }
}
