@import "reset.scss";
@import "page.scss";
@import "navigation.scss";
@import "login-user.scss";
@import "channel-list.scss";
@import "contents.scss";
@import "channel-header.scss";
@import "channel-body.scss";
@import "chat.scss";
@import "history.scss";
@import "message.scss";
@import "message-contents.scss";
@import "console.scss";
@import "member-list.scss";

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "SF Pro JP","SF Pro Display","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
}
